<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>Contact Manager</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</head>
<body>
<div class="container">
    {% set activeMenu = activeMenu|default('home') %}
    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a href="{{ path('app_homepage') }}" class="nav-link{% if activeMenu == 'home' %} active{% endif %}">
                Homepage
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_add') }}" class="nav-link{% if activeMenu == 'add' %} active{% endif %}">
                Add contact
            </a>
        </li>
    </ul>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} mt-4">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
